//colors for text
$gray: #9C9C9C;
$light-gray: #D8D8D8;
$extra-light-gray: #F9F9F9;
$dark-gray: #4A4A4A;
$olive: #3B3800;

//primary-colors
$primary-yellow: #fff200;

//secondary-colors
$secondary-blue: #45CBEA;
$secondary-dark-blue: #304886;
$secondary-red: #EA5A56;